@use "sass:math";

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: math.div($gutter, -2);
  margin-left: math.div($gutter, -2);

  &.gutterless {
    margin-left: 0;
    margin-right: 0;
  }
}
