@use "sass:math";

// The base unit.
$base: .75rem !default;

// Sensible breakpoints.
// Inspired by https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
// Copied from Grid.sexy.
$breakpoints: (
        xs: 0,
        s: 300px,
        m: 600px,
        l: 900px,
        xl: 1200px,
        xxl: 1500px,
        3xl: 1800px
) !default;
$grid-breakpoints: $breakpoints; // Mapping for Bootstrap compatibility.

// The (maximum) container widths.
$containers: (
        m: 576px,
        l: 864px,
        xl: 1176px
) !default;
$container-max-widths: $containers; // Mapping for Bootstrap compatibility.

// The (maximum) number of columns.
$columns: 16 !default;
$grid-columns: $columns; // Mapping for Bootstrap compatibility.

// Conditional loading of modules.
$enable-debug: false !default;
$enable-offsets: true !default;
$enable-orders: true !default;

// Grid gutter width.
$gutter: 2 * $base !default;
$grid-gutter-width: $gutter; // Mapping for Bootstrap compatibility.
$half-gutter: math.div($gutter, 2);
